body {
background-color: #000814;
color: #00ff9f;
font-family: monospace;
margin: 0;
padding: 20px;
text-align: left;   /* ADD THIS */
}

#terminal {
max-width: 900px;
margin: 0;          /* CHANGE this (remove auto) */
}


.line {
white-space: nowrap;
}

.output {
margin-left: 5px;
}

.input-line {
display: flex;
}

.prompt {
margin-right: 5px;
white-space: nowrap;
}

input {
background: transparent;
border: none;
color: #00ff9f;
font-family: monospace;
font-size: 16px;
outline: none;
width: 100%;
}

.input-line {
display: flex;
align-items: center;
}

.prompt {
margin-right: 8px;
}
