body {
background-color: #000814;
color: #00ff9f;
font-family: monospace;
font-size: 18px;   /* increased font */
margin: 0;
padding: 20px;
}

#terminal {
max-width: 900px;
}

* {
  text-shadow: 0 0 5px #00ff9f;
  }

.input-line {
display: flex;
align-items: center;
}

.prompt {
margin-right: 8px;
white-space: nowrap; /* 🔥 important */
}

input {
background: transparent;
border: none;
color: #00ff9f;
font-family: monospace;
font-size: 18px;
outline: none;
width: 100%;
}

.cursor {
width: 8px;
height: 16px;
background: #00ff9f;
animation: blink 1s infinite;
}

@keyframes blink {
50% { opacity: 0; }
}

.command-link {
cursor: pointer;
}

.command-link:hover {
text-decoration: underline;
}

#terminal div {
white-space: normal;
}

#terminalHeader {
white-space: nowrap;
}

#terminalHeader span {
display: inline;
}

#terminalHeader {
white-space: nowrap;
}

.command-link {
cursor: pointer;
margin-right: 4px;
}

.command-link:hover {
color: #ffffff;
}
